   <!-- Footer Start -->
   <footer class="footer">
    <div class="creator_msg">
      <a href="https://charchitg.github.io/" target="_blank"
        >&copy;Designed By Charchit Gupta</a
      >
    </div>
    <div class="logo">
      <a
        class="social_media"
        href="https://www.instagram.com/charchit_07/?hl=en"
        target="_blank"
        ><i class="fa-x fab fa-instagram" aria-hidden="true"></i
      ></a>

      <a
        class="social_media"
        href="https://www.facebook.com/charchit.gupta.1"
        target="_blank"
        ><i class="fa-x fab fa-facebook" aria-hidden="true"></i
      ></a>

      <a
        class="social_media"
        href="https://www.linkedin.com/in/charchit-gupta-4543751b0/"
        target="_blank"
        ><i class="fa-x fab fa-linkedin-in" aria-hidden="true"></i
      ></a>

      <a
        class="social_media"
        href="https://github.com/Charchitg"
        target="_blank"
        ><i class="fa-x fab fa-github-alt" aria-hidden="true"></i
      ></a>
    </div>
  </footer>
  <!-- Footer End -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
</body>
</html>
