<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Font Awesome CDN -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
      integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
      crossorigin="anonymous"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <title><%= PageTitle %> </title>
  </head>
  <body>
    <!-- Header Start -->
    <header class="header">
      <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand brand" href="#">PayBook</a>
        <button
          id="togglebtn"
          class="navbar-toggler d-lg-none"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0 nav_ul">
            <li class="nav-item">
              <a class="nav-link" href="/user/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/transaction">Transactions</a>
            </li>
            <% if (path !== '/' && path !== '/user/register' && path !== '/user/login') { %>
              <li class="nav-item">
                <a class="nav-link" href="/user/profile">Profile</a>
              </li>
            <% } %>
          
            <% if (path === '/') { %>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Register</a>
            </li>
            <% } %>
          </ul>
        </div>
        <% if (path !== '/' && path !== '/user/register' && path !== '/user/login') { %>
          <form action="/user/logout" method="POST">
            <button class="button">Logout</button>
          </form>
        <% } %>
        
      </nav>
    </header>
   
    <!-- Header Ends -->