<nav>
    <ul class="nav-ul">
      <li class="nav-li">
        <a class="nav-a" href="/user/home">Home</a>
      </li>
      <li class="nav-li">
        <a class="nav-a" href="/user/transfer">Transfer Money</a>
      </li>
      <li class="nav-li">
        <a class="nav-a" href="/user/transaction">Transactions</a>
      </li>
    </ul>
</nav>

<form action="/user/logout" method="POST">
    <button class="btn">Logout <i class="fas fa-sign-out-alt"></i></button>
</form>
</div>
</header>