<div class="pagination-div">
    <nav aria-label="Page navigation">
      <ul class="pagination">
          <% if(HasPreviousPage) %> 
        <li class="page-item">
          <a class="page-link" id="pagination"  href="?<%= PreviousPage %> " aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <% } %>
        <li class="page-item"><a class="page-link" id="pagination" href="?<%= CurrentPage %>">1</a></li>
        <li class="page-item"><a class="page-link" id="pagination" href="#">2</a></li>
        <li class="page-item"><a class="page-link" id="pagination" href="#">3</a></li>
        <% if (HasNextPage) { %>
            <li class="page-item">
                <a class="page-link" id="pagination" href="?<%= NextPage %> " aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
        <% } %>
       
      </ul>
    </nav>
    </main>
  </div>