<%- include('./includes/head.ejs') %>

<h1>routes worked </h1>
<p><%= Username %></p>
<form action="/user/friends#" method="POST">
<% for( let index = 0; index < parseInt(friends); index++ ) { %>
        <label for="friend_name">friend name</label>
        <input type="text" name="friendname">
        <label for="amount">amount</label>
        <input type="number" name="amount">
    
<% } %>
</form>
<button type="submit" class="btn btn-primary">Submit</button>
<%- include('./includes/end.ejs') %>