<%- include('./includes/head.ejs') %>
<%- include('./includes/errors.ejs') %> 
<main class="main">
    <h5>page not found</h5>
    <h5>May be some network issue</h5>
</main>
<%- include('./includes/end.ejs') %>