<%- include('./includes/head.ejs') %>

    <!--Main Start -->
    <main class="main">
      <div class="heading">
        <h2 class="heading_msg">Split Bill</h2>
      </div>
      <div class="form_div">
        <form action="/user/home" method="POST">
          <div class="form_element">
            <label for="friends">Number of friends</label>
            <input
              type="text"
              required="true"
              autocomplete="off"
              id="friends"
              name="friends"
            />
          </div>
          <div class="form_element">
            <label for="amount">Amount to be Split</label>
            <input
              type="text"
              required="true"
              autocomplete="off"
              id="amount"
              name="amount"
            />
          </div>
          <div class="submitbtn">
          <button class="button" type="submit">Submit</button>
        </div>
        </form>
      </div>
  </main>

  <!-- Main Ends -->

<%- include('./includes/end.ejs') %>