<%- include('./includes/head.ejs') %>

<%- include('./includes/nav.ejs') %>
<main>
<div class="form">
    <form class="user"  action="/user/home" method="POST">
      <div class="form-div">
        <label for="UserName">Enter Your Registered Email </label>
        <button><i class="fas fa-user"></i></button>
        <input
          type="text"
          class="form-control"
          name="username"
          id="exampleInputEmail1"
          autocomplete="off"
          placeholder=""
        />
      </div>
      <div class="form-div">
        <label for="friendsInput">Number of friends</label>
        <button><i class="fas fa-users"></i></button>
        <input
          type="text"
          class="form-control"
          name="friends"
          id="friends"
          autocomplete="off"
          placeholder=""
        />
      </div>
      <button type="submit" class="btn" id="mainbtn">Submit</button>
    </form>
  </div>



<%- include('./includes/end.ejs') %>