<%- include('./includes/head.ejs') %>

<main >
    <div class="lander_msg">
      <h1>WELCOME!!!</h1>
      <h3>Start Splitting your Bills and Manage
       your Transactions with PayBook.</h3>
    </div>
    <div>
    <div class="register_div">
      <h3>New User?</h3>
      <form method="GET" action="/user/register">
        <button type="submit" class="button">Register</button>
      </form>
    </div>
    <div class="login_div">
      <h3>Existing User?</h3>
      <form method="GET" action="/user/login">
        <button type="submit" class="button">Login</button>
      </form>
      <form action="/user/login/google" method="GET">
        <div class="submitbtn">
          <button class="button" type="submit"><i class="fab fa-google"></i>login</button>
        </div>
      </form>
    </div>
  </div>
  </main>

<%- include('./includes/end.ejs') %>