<%- include('./includes/head.ejs') %>
</div>
</header>
<main>               
<div class="form" id="login">
  <h2>Sign-in</h2>
  <%- include('./includes/errors.ejs') %> 
<form  class="user" action="/user/login" method="POST">
  <div class="form-div">
    <label for="email">Enter Your registered Email</label>
    <button><i class="fas fa-user"></i></button>
    <input
      type="email"
      id="email"
      class="form-control"
      name="email"
      autocomplete="off"
    />
  </div>
  <div class="form-div">
    <label for="password">Password </label>
    <button><i class="fas fa-lock"></i></button>
    <input
      type="password"
      id="password"
      class="form-control"
      name="password"
      autocomplete="off"
    />
  </div>
  <button type="submit" class="btn" id="mainbtn">Login</button>
</form>
<h3>New User ? Register to get started</h3>
<form class="user" action="/user/register" method="GET">
  <button class="btn registerbtn" id="mainbtn">Register</button>
</form>
</div>
<%- include('./includes/end.ejs') %>