<%- include('./includes/head.ejs') %>

<form action="" method="POST">
    <div class="form-group">
        <label for="UserName">Enter Username</label>
        <input type="text" class="form-control" name="username" id="exampleInputEmail1"  placeholder="Enter Username">
    </div>
    <div class="form-group">
        <label for="friendsInput">Password</label>
        <input type="number" class="form-control" name="Password" id="Password" placeholder="Enter your Password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

<%- include('./includes/end.ejs') %>