<%- include('./includes/head.ejs') %>

<form action="" method="POST">
    <div class="form-group">
        <label for="UserName">Enter Your registered Email</label>
        <input type="email" class="form-control" name="username" id="exampleInputEmail1">
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="number" class="form-control" name="Password" id="Password" >
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

<%- include('./includes/end.ejs') %>