<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= PageTitle %></title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header>
      <div class="header">
      <a href="#" class="brand">Cash Management Website</a>
  </div>
<div class="form">
<form action="/user/register" method="POST">
    <div class="form-group">
        <label for="UserName">Enter Your Name</label>
        <input type="text" class="form-control" name="Username" id=""  placeholder="Enter Your Name">
    </div>
    <div class="form-group">
        <label for="UserEmail">Enter Your Email-Id</label>
        <input type="text" class="form-control" name="Email" id=""  placeholder="Enter Your Email-id">
    </div>
    <div class="form-group">
        <label for="friendsInput">Password</label>
        <input type="password" class="form-control" name="Password" id="Password" placeholder="Enter your Password">
    </div>
    <div class="form-group">
        <label for="friendsInput">Confirm Password</label>
        <input type="password" class="form-control" name="ConfirmPassword" id="Password" placeholder="Confirm your Password">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
</div>
<%- include('./includes/end.ejs') %>