<%- include('./includes/head.ejs') %>

<form action="" method="POST">
    <div class="form-group">
        <label for="UserName">Enter Your First Name</label>
        <input type="text" class="form-control" name="firstname" id=""  placeholder="Enter Your First Name">
    </div>
    <div class="form-group">
        <label for="UserName">Enter Your Last Name</label>
        <input type="text" class="form-control" name="lastname" id=""  placeholder="Enter Your Last Name">
    </div>
    <div class="form-group">
        <label for="UserName">Enter Your Email-Id</label>
        <input type="email" class="form-control" name="Email-Id" id=""  placeholder="Enter Your Email-id">
    </div>
    <div class="form-group">
        <label for="friendsInput">Contact Number</label>
        <input type="number" class="form-control" name="ContactNumber" id="" placeholder="Enter your Contact Number">
    </div>
    <div class="form-group">
        <label for="friendsInput">Password</label>
        <input type="number" class="form-control" name="Password" id="Password" placeholder="Enter your Password">
    </div>
    <div class="form-group">
        <label for="friendsInput">Confirm Password</label>
        <input type="number" class="form-control" name="ConfirmPassword" id="Password" placeholder="Confirm your Password">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>

<%- include('./includes/end.ejs') %>