<%- include('./includes/head.ejs') %>
 
<!--Main Start -->
<main class="main">
  <%- include('./includes/errors.ejs') %>
  <div class="heading">
    <h2 class="heading_msg">Register</h2>
  </div>
  <div class="form_div">
    <form action="/user/register" method="POST">
      <div class="form_element">
        <label for="name">Name</label>
        <input
          type="text"
          required="true"
          autocomplete="off"
          id="name"
          name="username"
        />
      </div>
      <div class="form_element">
          <label for="email">Email</label>
          <input
            type="email"
            required="true"
            
            id="email"
            name="email"
          />
        </div>
        <div class="form_element">
          <label for="password">Password</label>
          <input
            type="password"
            required="true"
            autocomplete="off"
            id="password"
            name="password"
          />
        </div>
      <div class="form_element">
        <label for="confirm">Confirm Password</label>
        <input
          type="password"
          required="true"
          autocomplete="off"
          id="confirm"
          name="confirm"
        />
      </div>
      <div class="submitbtn">
      <button class="button" type="submit">Submit</button>
    </div>
    </form>
    <form action="/user/login" method="GET">
      <div class="submitbtn">
        <button class="button" type="submit">Login</button>
      </div>
    </form>
    <form action="/user/login/google" method="GET">
      <div class="submitbtn">
        <button class="button" type="submit"><i class="fab fa-google"></i>login</button>
      </div>
    </form>
  </div>
</main>

<!-- Main Ends -->

<%- include('./includes/end.ejs') %>