<%- include('./includes/head.ejs') %>

<main class="main">
  <div class="heading">
    <h2 class="heading_msg">Transfer Details</h2>
  </div>

  <div class="form_div">
    <form action="/user/transfer" method="POST">
      <% for( let index = 0; index < parseInt(friends); index++ ) { %>
      <div class="form_element">
        <label for="friend">friend</label>
        <input
          type="email"
          required="true"
          autocomplete="off"
          id="friend"
          name="friend"
        />
      </div>
      <div class="form_element">
        <label for="amount">Amount</label>
        <input
          type="text"
          required="true"
          autocomplete="off"
          id="amount"
          name="amount"
        />
      </div>
      <% } %>
      <div class="form_element">
        <label for="description">Description</label>
        <input
          type="text"
          id="description"
          name="description"
          autocomplete="off"
        />
      </div>
      <div class="submitbtn">
        <button class="button" type="submit">Submit</button>
      </div>
    </form>
  </div>
</main>

<!-- Main Ends -->

<%- include('./includes/end.ejs') %>
