<%- include('./includes/head.ejs') %>

<h1>routes worked</h1>
<p><%= Username %></p>
<div class="form">
  <form action="/user/transfer" method="POST">
        <% for( let index = 0; index < parseInt(friends); index++ ) { %>
    <div>
      <label for="friend_name">friend name</label>
    </div>
    <div>
      <input type="text" id="friend_name" name="friend" />
    </div>
    <div>
      <label for="amount">amount</label>
    </div>
    <div>
      <input type="text" id="amount" name="amount" />
    </div>
    <% } %>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<%- include('./includes/end.ejs') %>
