<%- include('./includes/head.ejs') %>
<%- include('./includes/nav.ejs') %>

<main>
<div class="form" id="Register">
  <h2>Transfer Details</h2>
  <form class="user" action="/user/transfer" method="POST">
        <% for( let index = 0; index < parseInt(friends); index++ ) { %>
          <div class="form-div">
            <label for="friend_name">friend name</label>
            <input type="text" id="friend_name" name="friend" class="form-control" autocomplete="off"/>
          </div>
          <div class="form-div">
            <label for="amount">amount</label>
            <input type="text" class="form-control"  id="amount" name="amount" autocomplete="off"/>
          </div>
    <% } %>
    <div class="form-div">
      <label for="description">Description</label>
      <input type="text" id="description" name="description" class="form-control" autocomplete="off"/>
    </div>
    <button type="submit" class="btn" id="mainbtn">Submit</button>
  </form>
</div>
<%- include('./includes/end.ejs') %>
