@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&family=Poppins:wght400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: var(--jasmine); */
}
:root{
    /*  colour vars  */
    --rich-black-fogra-39: #050505ff;
--blue-ryb: #004fffff;
--maximum-blue: #31afd4ff;
--rose: #ff007fff;
/**/
--rich-black-fogra-29: #011627ff;
--baby-powder: #fdfffcff;
--tiffany-blue: #2ec4b6ff;
--rose-madder: #e71d36ff;
--orange-peel: #ff9f1cff;

/*  font vars   */
--poppins : 'Poppins' , sans-serif;
--roboto : 'Roboto', sans-serif;
--nunito : 'Nunito', sans-serif;
 }

ul{
    text-decoration: none;
    list-style-type: none;
}

a{
    list-style-type: none;
    text-decoration: none;
}

li a{
    list-style-type: none;
    text-decoration: none;
    color: var(--maximum-blue)!important;
}

li a:hover ,li a:active , li a:focus{
    list-style-type: none;
    text-decoration: none;
    color: var(--rose-madder)!important;
    outline: none;
}

header{
    margin: 0;
    padding: 0.2rem;
    background-color: var(--rich-black-fogra-39);
}

.brand{
    padding: 0;
    font-size: 2rem;
    color: var(--maximum-blue)!important;
    font-family: var(--nunito)!important;
}

.nav_ul{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    color: var(--maximum-blue);
}

.nav-item{
    padding: 0.3rem;
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: 400;
    font-family: var(--poppins);
}

#togglebtn{
    color: var(--maximum-blue);
    outline: none;
}

main{
    background-color: var(--rich-black-fogra-39);
    min-width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 88vh;
}

.main{
    justify-content: flex-start;
    padding: 1.5rem;
}

.lander_msg{
    min-width: 100%;
    margin: 0;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--roboto);
    color: var(--maximum-blue);
}

.lander_msg h1{
    font-size: 3rem;
}

.lander_msg h3{
    font-size: 1.5rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.login_div , .register_div{
    padding: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_div h3 , .register_div h3{
    font-size: 1.2rem;
    padding :1rem;
    color: var(--maximum-blue);
    font-weight: 400;
}

.button{
    background-color: transparent;
    color: var(--baby-powder);
    font-style: var(--poppins);
    font-weight: 500;
    width: 6rem;
    border-radius: 1rem;
    margin: auto;

}

.button:hover {
    background-color: var(--rose-madder);
    color: var(--rich-black-fogra-39);
}

.transfers{
    display: flex;
    flex-direction: column;
}

.transfer_element{
    display: flex;
    background-color:var(--rich-black-fogra-29);
    border-radius: 1rem;
    box-shadow: var(--baby-powder);
    margin: 1rem;
    align-items: center;
    padding: 1rem;
}

.edit , .delete{
    color: var(--maximum-blue)!important;
    border: none;
    outline: none;
    background-color: transparent;
}

h5{
    color: var(--orange-peel);
    font-size: 1rem;
    padding: 1rem;
}



footer{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    min-height: 10vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--rich-black-fogra-39);
}

.creator_msg a {
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 1rem;
    color: var(--baby-powder);
    text-decoration: none;
}

.logo a i{
    color: var(--blue-ryb);
    padding: 1rem;
    outline: none;
}

.logo a i:hover{
    color: var(--rose-madder);
}

.logo a i:active{
    outline: none;
}

.heading_msg{
    padding: 1rem;
    text-transform: capitalize;
    font-size: 1.8rem;
    color: var(--maximum-blue);
}

.form_element{
    margin:1.5rem;
}

.pagination-div{
    background-color: var(--rich-black-fogra-39);
    display: flex;
    justify-content: center;
    align-items: center;
}

#pagination{
 background-color: transparent;
 color: var(--maximum-blue); 
}

input {
    height: 2rem;
    font-family: var(--poppins);
    background-color: transparent;
    color: var(--baby-powder);
    outline: none;
    border-radius: 0.3rem;
}

input:focus{
    outline: none;
}

label{
    font-family: var(--nunito);
    text-transform: capitalize;
    color: var(--baby-powder);
    display: block;
}

.submitbtn{
    display: flex;
    padding: 1rem;
    align-items: center;
    margin: auto;
    width: 100%;
}



button i{
    padding: 0.3rem;
}

@media screen and (max-width : 786px){
    .lander_msg h1{
        font-size: 2.5rem;
    }
    .lander_msg h3{
        font-size: 1.2rem;
    } 
}


@media screen and (max-width : 676px){
    .brand{
        font-size: 1.5rem;
    }
    .nav-item{
        font-size: 1rem;
    }
} 



@media screen and (max-width : 624px){
    .brand{
        font-size: 1.3rem;
    }
    .nav-item{
        font-size: 0.9rem;
    }
} 

@media screen and (max-width : 578px){
    .nav-item{
        font-size: 0.8rem;
    }
} 

